.timer{
    font-size: 24px;
    color: blueviolet;
}

    .buttonsWrap > button{
        width: 70px;
        height: 35px;
    }

    .buttonsWrap > button:first-of-type{
        margin-right: 10px;
        background-color: greenyellow;
    }

    .buttonsWrap > button:last-of-type{
        margin-right: 10px;
        background-color: tomato;
    }